# Node.js dependencies
node_modules/

# Optional npm cache directory
.npm/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Dist folder
dist/
